.graphic {
  margin-top: 1em;
}
.breadcrumb {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto, sans-serif;
  padding-left: 1em;
}

.breadcrumb > li {
  display: flex;
  align-items: center;
}

::ng-deep .mat-toolbar {
  height: 3em;
}

#checkboxes {
  padding-left: 1em;
}

#checkboxes mat-checkbox{
  display: table;
}