<ng-template [ngIf]="!chartsReady" [ngIfElse]="chartsAllReady">
  <div class="loader_wrapper">
    <div class="loader"><p></p></div>
    <p class="loading_text">Loading...</p>
  </div>
</ng-template>

<ng-template #chartsAllReady>
  <app-graphic-breadcrumbs [data]="breadcrumbsData"></app-graphic-breadcrumbs>
  <div class="graphic">
    <div id="chart"></div>
    <button *ngIf="sCriteriaVisible" (click)="changeType()">
      <span *ngIf="actualGraphicType === 'scriteria'">Group by assertions</span>
      <span *ngIf="actualGraphicType !== 'scriteria'">Group by success criteria</span>
    </button>
    <div id="checkboxes">
        <mat-checkbox *ngFor="let variable of xAxisVars; let i = index" color="primary" [checked]="variable.checked" (change)="updateBySelection(variable.id, 0)">{{variable.name}}</mat-checkbox>
    </div>
  </div>
  <button (click)="removeAllFilters()">Select all</button>
  </ng-template>
