<mat-tab-group animationDuration="0ms">
    <mat-tab label="Tag">
        <ng-template matTabContent>
        <app-prototype-tag></app-prototype-tag>
        </ng-template>
    </mat-tab>
    <mat-tab label="Application">
        <ng-template matTabContent>
        Application Content
        </ng-template>
    </mat-tab>
    <mat-tab label="Page">
        <ng-template matTabContent>
        Page Content
        </ng-template>
    </mat-tab>
    <mat-tab label="Rule">
        <ng-template matTabContent>
        Rule Content
        </ng-template>
    </mat-tab>
    <mat-tab label="Evaluation Tool">
        <ng-template matTabContent>
        Evaluation Tool Content
        </ng-template>
    </mat-tab>
    <mat-tab label="Country">
        <ng-template matTabContent>
        Country Content
        </ng-template>
    </mat-tab>
</mat-tab-group>