.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
      Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.bold {
  font-weight: bold;
}

.scAppButton {
  width: 100%;
}

.actionButtons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1em;
}