<mat-toolbar color="primary">
    <span class="placm">Prototype Large-Scale Accessibility Compliance Monitoring</span>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>

    <!--a mat-icon-button href="/placm/pt" class="homeicon"-->
    <a mat-icon-button href="/placm/" class="homeicon">
        <mat-icon aria-hidden="false" aria-label="Home icon">home</mat-icon>
    </a>
    <app-graphic-picker [showAll]="true" (submit)="submittedCategory($event)"></app-graphic-picker>
</mat-toolbar>