.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
      Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.placm {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}